In [1]:
#Question 1
A_B = []
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A_B =A + B

In [2]:
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [3]:
#Question 2
import numpy as np
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
#Question 3
import pandas as pd
url = "C:\\Users\\USER\\Desktop\\Data Analytics\\Hamoye Internship\\StageAdata.csv"
data = pd.read_csv(url)
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533,1.000,2.77,2.77,2.570

In [17]:
a = data.groupby(by=["fuel_type_code_pudl", "fuel_cost_per_unit_burned"]).count()
a.mean()

record_id                       1.420809
utility_id_ferc1                1.420809
report_year                     1.420809
plant_name_ferc1                1.420809
fuel_unit                       1.412147
fuel_qty_burned                 1.420809
fuel_mmbtu_per_unit             1.420809
fuel_cost_per_unit_delivered    1.420809
fuel_cost_per_mmbtu             1.420809
dtype: float64

In [18]:
#Question 4
data["fuel_mmbtu_per_unit"].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [19]:
#Question 5
data["fuel_qty_burned"].skew(), data["fuel_qty_burned"].kurtosis()

(15.851495469109503, 651.3694501337732)

In [20]:
#Question 6
data.isnull().sum(), data["fuel_unit"].isnull().sum()/data["fuel_unit"].count() *100

(record_id                         0
 utility_id_ferc1                  0
 report_year                       0
 plant_name_ferc1                  0
 fuel_type_code_pudl               0
 fuel_unit                       180
 fuel_qty_burned                   0
 fuel_mmbtu_per_unit               0
 fuel_cost_per_unit_burned         0
 fuel_cost_per_unit_delivered      0
 fuel_cost_per_mmbtu               0
 dtype: int64,
 0.6134342091810653)

In [22]:
#Question 8
def get_corrs(df):
    col_correlations = df.corr()
    col_correlations.loc[:, :] = np.tril(col_correlations, k=-1)
    cor_pairs = col_correlations.stack()
    return cor_pairs.to_dict()
b = pd.DataFrame(data)
get_corrs(b)

{('utility_id_ferc1', 'utility_id_ferc1'): 0.0,
 ('utility_id_ferc1', 'report_year'): 0.0,
 ('utility_id_ferc1', 'fuel_qty_burned'): 0.0,
 ('utility_id_ferc1', 'fuel_mmbtu_per_unit'): 0.0,
 ('utility_id_ferc1', 'fuel_cost_per_unit_burned'): 0.0,
 ('utility_id_ferc1', 'fuel_cost_per_unit_delivered'): 0.0,
 ('utility_id_ferc1', 'fuel_cost_per_mmbtu'): 0.0,
 ('report_year', 'utility_id_ferc1'): 0.09332282633215944,
 ('report_year', 'report_year'): 0.0,
 ('report_year', 'fuel_qty_burned'): 0.0,
 ('report_year', 'fuel_mmbtu_per_unit'): 0.0,
 ('report_year', 'fuel_cost_per_unit_burned'): 0.0,
 ('report_year', 'fuel_cost_per_unit_delivered'): 0.0,
 ('report_year', 'fuel_cost_per_mmbtu'): 0.0,
 ('fuel_qty_burned', 'utility_id_ferc1'): -0.057446615869579234,
 ('fuel_qty_burned', 'report_year'): 0.012952132107295487,
 ('fuel_qty_burned', 'fuel_qty_burned'): 0.0,
 ('fuel_qty_burned', 'fuel_mmbtu_per_unit'): 0.0,
 ('fuel_qty_burned', 'fuel_cost_per_unit_burned'): 0.0,
 ('fuel_qty_burned', 'fuel_cost_per_unit_delivered'): 0.0,
 ('fuel_qty_burned', 'fuel_cost_per_mmbtu'): 0.0,
 ('fuel_mmbtu_per_unit', 'utility_id_ferc1'): -0.06694646004973219,
 ('fuel_mmbtu_per_unit', 'report_year'): -0.11085282588962904,
 ('fuel_mmbtu_per_unit', 'fuel_qty_burned'): -0.0809463261026777,
 ('fuel_mmbtu_per_unit', 'fuel_mmbtu_per_unit'): 0.0,
 ('fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned'): 0.0,
 ('fuel_mmbtu_per_unit', 'fuel_cost_per_unit_delivered'): 0.0,
 ('fuel_mmbtu_per_unit', 'fuel_cost_per_mmbtu'): 0.0,
 ('fuel_cost_per_unit_burned', 'utility_id_ferc1'): -0.03786270759997195,
 ('fuel_cost_per_unit_burned', 'report_year'): 0.013599134438134063,
 ('fuel_cost_per_unit_burned', 'fuel_qty_burned'): -0.018535416794825232,
 ('fuel_cost_per_unit_burned', 'fuel_mmbtu_per_unit'): -0.010033808428852972,
 ('fuel_cost_per_unit_burned', 'fuel_cost_per_unit_burned'): 0.0,
 ('fuel_cost_per_unit_burned', 'fuel_cost_per_unit_delivered'): 0.0,
 ('fuel_cost_per_unit_burned', 'fuel_cost_per_mmbtu'): 0.0,
 ('fuel_cost_per_unit_delivered', 'utility_id_ferc1'): -0.016414311686206773,
 ('fuel_cost_per_unit_delivered', 'report_year'): -0.014043163596716467,
 ('fuel_cost_per_unit_delivered', 'fuel_qty_burned'): -0.003551404861804939,
 ('fuel_cost_per_unit_delivered', 'fuel_mmbtu_per_unit'): -0.00903913270113398,
 ('fuel_cost_per_unit_delivered',
  'fuel_cost_per_unit_burned'): 0.011007403299164893,
 ('fuel_cost_per_unit_delivered', 'fuel_cost_per_unit_delivered'): 0.0,
 ('fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'): 0.0,
 ('fuel_cost_per_mmbtu', 'utility_id_ferc1'): 0.006121768379510401,
 ('fuel_cost_per_mmbtu', 'report_year'): 0.01026075745276199,
 ('fuel_cost_per_mmbtu', 'fuel_qty_burned'): -0.0018964448042461748,
 ('fuel_cost_per_mmbtu', 'fuel_mmbtu_per_unit'): -0.0058836025025196005,
 ('fuel_cost_per_mmbtu', 'fuel_cost_per_unit_burned'): -0.00043721044397039907,
 ('fuel_cost_per_mmbtu',
  'fuel_cost_per_unit_delivered'): -0.00010857878337680113,
 ('fuel_cost_per_mmbtu', 'fuel_cost_per_mmbtu'): 0.0}

In [23]:
#question 9
data['Percentage change'] = data['report_year'].pct_change()

data.groupby(['Percentage change']).first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
Percentage change,,,,,,,,,,,
0.000000,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945,16.592000,18.580,18.530,1.1200
0.000496,f1_fuel_2018_12_122_0_2,122,2018,big stone,oil,bbl,2344,5.880000,63.123,63.123,10.7350
0.000496,f1_fuel_2017_12_122_0_2,122,2017,big stone,oil,bbl,1054,5.880000,60.388,60.388,10.2700
0.000496,f1_fuel_2016_12_122_0_2,122,2016,big stone,oil,bbl,949,5.880000,51.787,51.787,8.8070
0.000497,f1_fuel_2015_12_122_0_2,122,2015,big stone,oil,bbl,2415,5.880000,58.465,58.465,9.9430
0.000497,f1_fuel_2014_12_122_0_1,122,2014,big stone,coal,ton,453825,16.572000,33.834,33.834,2.0420
0.000497,f1_fuel_2013_12_122_0_1,122,2013,big stone,coal,ton,484678,16.846000,32.971,32.971,1.9570
0.000497,f1_fuel_2012_12_122_0_1,122,2012,big stone,coal,ton,508138,16.846000,34.930,34.930,2.0740
0.000498,f1_fuel_2011_12_122_0_1,122,2011,big stone,coal,ton,392102,16.486000,35.301,35.301,2.0960
0.000498,f1_fuel_2010_12_122_0_1,122,2010,big stone,coal,ton,513861,16.846000,33.299,33.299,1.7820
0.000498,f1_fuel_2009_12_122_0_1,122,2009,big stone,coal,ton,551992,16.846000,30.411,30.411,2.4850
0.000498,f1_fuel_2008_12_122_0_1,122,2008,big stone,coal,ton,518267,16.846000,29.148,29.148,2.7160
0.000499,f1_fuel_2007_12_186_0_1,186,2007,altavista,coal,ton,152665,25.660000,80.460,79.830,3.1400
0.000499,f1_fuel_2006_12_186_0_1,186,2006,altavista,coal,ton,160919,25.484000,65.570,66.870,2.5700
0.000499,f1_fuel_2005_12_134_0_1,134,2005,carbon,coal,ton,673090,23.028000,17.552,17.159,0.7620
0.000499,f1_fuel_2004_12_1_0_7,1,2004,rockport total aeg,coal,ton,4629653,17.864000,24.092,24.022,1.3490
0.000500,f1_fuel_2003_12_283_0_1,283,2003,talbot energy,gas,mcf,180788,1.000000,279.130,279.130,2.7913
0.000500,f1_fuel_2002_12_195_0_1,195,2002,pulliam 3,coal,ton,82877,17.456000,19.410,17.070,1.1020
0.000500,f1_fuel_2001_12_195_0_1,195,2001,pulliam 3,coal,ton,55679,17.638000,20.560,19.380,1.1560
0.000500,f1_fuel_2000_12_141_0_1,141,2000,boardman,coal,ton,2084751,17.034000,19.225,19.293,1.1290
0.000501,f1_fuel_1999_12_141_0_1,141,1999,boardman,coal,ton,2118951,18.052000,20.043,20.054,1.1100
0.000501,f1_fuel_1998_12_1_0_7,1,1998,rockport total aeg,coal,ton,4965881,17.198000,19.282,19.338,1.1260
0.000501,f1_fuel_1997_12_1_0_7,1,1997,rockport total aeg,coal,ton,5043970,16.752000,19.369,19.070,1.1560
0.000501,f1_fuel_1996_12_204_0_1,204,1996,seabrook,nuclear,gramsU,34,0.000006,26.381,0.000,0.0000
0.000502,f1_fuel_1995_12_200_0_1,200,1995,aroostook valley,waste,ton,327060,0.004500,0.000,13.150,1.4600

In [24]:
#Question 10
j = pd.DataFrame(data.groupby(["fuel_cost_per_unit_delivered"]).mean().values)
j.sort_values(by =["report_year"].count("report_year"), ascending= True)

           0       1             2          3          4          5    6
1732    44.0  1994.0  8.522900e+04   1.021000   3.939000   3.855000  0.0
5245    97.0  1994.0  5.100453e+05  16.412000  13.411667   0.817333  0.0
514    164.0  1994.0  1.309007e+06   1.076000   2.225000   2.068000  0.0
5246    69.0  1994.0  4.808790e+05  19.376000  16.970000   0.880000  0.0
5251   122.0  1994.0  5.312260e+05  12.098000  13.280000   1.100000  0.0
...      ...     ...           ...        ...        ...        ...  ...
5403    12.0  2018.0  4.096370e+05  16.068000  13.690000   0.890000  0.0
14315   17.0  2018.0  3.293500e+04   5.788566  88.289000  15.253000  0.0
10849   62.0  2018.0  7.153120e+05  16.636000  43.300000   2.560000  0.0
14338  186.0  2018.0  1.151100e+04   5.725986  83.650000  14.230000  0.0
10893  128.0  2018.0  2.464904e+06  24.444000  44.003000   1.800100  0.0

[16675 rows x 7 columns]